/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: "wght" var(--font-weight-card-text);
  color: var(--main-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  border: 2px solid var(--main-color);
  background-color: #fff;
  padding-block: clamp(7.5rem, 6.9231rem + 2.4615vw, 8rem);
}

.content-size {
  width: var( --content-width);
}

.header__logo {
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-card-text);
  font-size: clamp(3.063rem, 1.91rem + 4.923vw, 4.063rem);
  text-transform: uppercase;
  padding-block-end: 20px;
}

.header__title {
  font-family: var(--accent-font-family);
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

/*обертка для всех карточек*/
.section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: 100px auto;
}

/*одна карточка*/
.card {
  display: block;
  border: 2px solid var(--main-color);
  background-color: #fff;
}

.card__title {
  font-size: 18px;
  text-align: left;
  padding-inline: 10px;
  padding-block: 5px 4px;
  font-variation-settings: "wght" var(--font-weight-card-title);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 0 25px;
  font-size: 18px;
  line-height: 21px;
}

/*обертка для позиционирования картинки и лэйбла*/
.card__image-label {
  position: relative;
  margin-bottom: 23px;
  border-block-end: 2px solid var(--main-color);
  border-block-start: 2px solid var(--main-color);
}

.card__label {
  position: absolute;
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-card-text);
  font-size: 14px;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px #fff;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
} 

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  max-inline-size: 696px;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;   /*соотношение ширины к высоте*/
}

/*обертка для области кнопок карточки*/
.card__button {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 4px;
  margin: 27px 25px 25px 0;
}

/*кнопка, оборачивающая иконку*/
.card__icon-button {
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  block-size: 38px;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

/*кнопка Like рядом с иконкой*/
.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid var(--main-color);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
  outline: none;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--main-color);
  transform: scale(0, 1);
  transition: transform 0.5s ease-in-out;
  inline-size: 100%;
  block-size: 100%;
  transform-origin: left;
}

.button:hover::after {
  transform: scale(1, 1);
}

/*текстовый элемент внутри кнопки*/
.button__text {
  position: relative;
  font-size: 14px;
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-card-text);
  color: var(--button-text-color);
  mix-blend-mode: difference;
  z-index: 1;
}

/*Кнопка «Сохранить на память»*/
.card__save-button {
  gap: 8px;
  inline-size: 339px;
  block-size: 55px;
}

.diskette-icon {
  inline-size: 21px;
  block-size: 21px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  z-index: 1;
}

/* модальное окно */
.modal[open] {
  display: grid;
  gap: 30px;
  max-inline-size: 353px;
  border: 2px solid var(--main-color);
  padding: 30px;
}

.modal__content {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.modal__diskette-icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.modal__title {
  text-transform: uppercase;
  line-height: 150%;
}

.close-button {
  inline-size: 100%;
  padding: 12.5px 0;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: var(--main-color);
  opacity: 0.75;
} 

@media (width <= 375px) {
  .card__image {
    max-inline-size: 375px;
  }

  .card__label {
    right: 13px;
  }

  .modal[open] {
    padding: 30px 40px;
    max-inline-size: 341px;
  }

  .card__save-button {
    flex-direction: column;
    inline-size: 310px;
    block-size: 86px;
  }
  .diskette-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}

/* фильтры */
.filter-brightness-sepia {
  filter: brightness(150%) sepia(30%);
}

.filter-contrast {
  filter: contrast(90%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-opacity {
  filter: opacity(0.8);
}

.filter-grayscale {
  filter: grayscale(0.5);
}

.filter-saturate {
  filter: saturate(80%);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-invert {
  filter: invert(0.1);
}